* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #000;
}

ul {
  display: flex;
  list-style: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid #000;
}

a:hover {
  color: yellowgreen;
}

section {
  padding-top: 30px;
  text-align: center;
}

.home_selected,
.news,
.contact {
  border-bottom-color: yellowgreen;
}